# Ignore build outputs
bin/
obj/

# Ignore Visual Studio and Rider settings
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore VS Code settings
.vscode/

# macOS junk
.DS_Store

# NuGet package outputs
*.nupkg
*.snupkg


/Debug
/Release
/DebugSymbols
/DebugSymbols
/DebugSymbols/Debug
/DebugSymbols/Release
/DebugSymbols/ReleaseSymbols
/DebugSymbols/ReleaseSymbols
/DebugSymbols/DebugSymbols
/DebugSymbols/DebugSymbols
/DebugSymbols/DebugSymbols/Debug
/DebugSymbols/DebugSymbols/DebugSymbols
/.vs/ZentrixLabs.FalconSdk/CopilotIndices
/.vs/ZentrixLabs.FalconSdk/FileContentIndex
/.vs/ZentrixLabs.FalconSdk/DesignTimeBuild
/.vs/ZentrixLabs.FalconSdk/v17
/.vs