/obj
/bin
/Debug
/Release
/DebugSymbols
/DebugSymbols
/DebugSymbols/Debug
/DebugSymbols/Release
/DebugSymbols/ReleaseSymbols
/DebugSymbols/ReleaseSymbols
/DebugSymbols/DebugSymbols
/DebugSymbols/DebugSymbols
/DebugSymbols/DebugSymbols/Debug
/DebugSymbols/DebugSymbols/DebugSymbols
.DS_Store
/.vs/ZentrixLabs.FalconSdk/CopilotIndices
/.vs/ZentrixLabs.FalconSdk/FileContentIndex
/.vs/ZentrixLabs.FalconSdk/DesignTimeBuild
/.vs/ZentrixLabs.FalconSdk/v17
/.vs
